body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}
h1{font-family: 'Fredoka One', cursive;
  font-size: 2.2em;
  color: black;
  font-weight: bolder;
}
h2{
  font-weight: bolder;
}
#header-nav{
  background-color: grey;
  margin-bottom: 30px;
  border-radius: 0px;
  border: 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}
#header-nav{
  border: 1px solid black;
}
#header{
  margin-left: 20px;
}
a:hover{
  text-decoration: none;
}
.navbar-brand{
  margin-bottom: -25px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 120px;
}
.navbar-toggle{
 margin-top: 30px;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-weight: bolder;
    border: 1px solid black;
}
#collapsable-nav{
  margin-left: -40px;
    border-top-color: black;
}
#nav-list{
  margin:0 -15px 0 -10px;
  text-align: center;
background-color: #e0e233;
}

#heading{
  font-size: 2em;
  color: #900B0B;
}
#no1{ 
  background-color: #DAAD86;
  color: black;
}
p{
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}
#main-content{ 
  margin:40px 25px 15px 25px;
}

@media (max-width: 767px) {
  p{
    margin-left: 5px;
    margin-right: 5px;
  }
  #main-content{ 
  margin:40px 30px 15px 30px;
}
}